<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>购物车</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link href="bootstrap/css/city-picker.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/city-picker.data.js"></script>
	<script src="bootstrap/js/city-picker.js"></script>
	<style type="text/css">
	* {
		list-style-type: none;
	}
	/*导航*/
	
	#help {
		background-color: #000000;
		position: relative;
	}
	
	#help .navbar-default .navbar-nav>li>a {
		color: #FFF;
	}
	/*底部样式*/
	
	.footer_help {
		margin-top: 25px;
		background-color: #373737;
		width: 100%;
		height: 50px;
		text-align: center;
		line-height: 50px;
		color: #FFFFFF;
	}

	.contain{
		padding: 70px 0;
	}
	.contain .title{
		font-size: 15px;
		padding: 0 15px;
	}
	.manageAdd{
		float: right;
		color: #cc7a00;
	    cursor: pointer;
	    text-decoration-line: none;
	}
	.col-sm-3_add{
		padding: 0;
		border: 1px solid #e2e2e2;
		cursor: pointer;
	}
	.card-body{
		padding: 10px;
    	border: #ddd 5px solid;	
		border-color: transparent;
		background:linear-gradient(#fff,#fff) padding-box,repeating-linear-gradient(-45deg,#ff000038 0,#ff000038 12.5%,transparent 0,transparent 25%,#0000ff3d 0, #0000ff3d 37.5%,transparent 0,transparent 50%) 0/55px 55px
	}
	.checked{
		 background: linear-gradient(#fff,#fff) padding-box,
            repeating-linear-gradient(-45deg,red 0,red 12.5%,transparent 0,transparent 25%,blue 0, blue 37.5%,transparent 0,transparent 50%) 0/55px 55px;
	}
	
	.checked .modification,.checked .img{
		opacity: 1;
	}
	.name{
		border-bottom: 1px solid #ddd;
	    line-height: 30px;
	    font-size: 14px;
	}
	.address{
		font-size: 14px;
	}
	 .defaultAdd{
	 	font-size: 13px;
		position: absolute;
	    right: 16px;
	    top: 0;
	    background: #000;
	    padding: 3px 5px;
	    opacity: 0.3;
	    color: #fff;
	}
	.modification{
		opacity: 0;
		margin: 0;
	}

	.modification>a{
		color: #cc7a00;
	    cursor: pointer;
	    font-size: 15px;
	    text-decoration-line: none;
	}
	.img{
		position: absolute;
	    width: 35px;
	    right: 16px;
	    bottom: 0;
	    opacity: 0;
	}
	.addressAll .col-sm-3{
		margin:20px 0;
	}
	.show_add{
		float: left;
	}
	.show_add a{
		padding-left: 15px;
	    color: #cc7a00;
	    cursor: pointer;
	    text-decoration-line: none;
	}

	.orderList{
		float: left;
		margin-top: 35px;
	}
	.table th,td{
		text-align:center;
		color: #8a8a8a;
		font-size: 13px;
	}
	.table-condensed thead>tr>th, .table-condensed tbody>tr>th, .table-condensed tfoot>tr>th, .table-condensed thead>tr>td, .table-condensed tbody>tr>td, .table-condensed tfoot>tr>td{
		padding: 20px 0 10px 0;
	}
	.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
		border-top: 1px #ddd dashed;
	}
	.table tbody>tr:last-child{
		border-bottom: 1px #ddd dashed;
	}
	.tabletr tr>th:nth-child(1),td:nth-child(1) {
		text-align:left;
	}
	.enteramount{
		width: 80px;
	    margin: 0 15px;
	    height: 30px;
	    border: 1px solid #ccc;
	    text-align: center;
	}
	.glyphicon{
		cursor: pointer;
	}
	.del{
		cursor: pointer;
	    padding: 10px 15px;
	    color:#8a8a8a;
	}
	.del:hover{
		color: #000
	}
	.clearbox{
		float: right;
		text-align: right;
		padding: 0;
	}
	.clearing{
		border: 1px solid red;
	    padding: 15px;
	}
	.clearing .title_clear{
		font-weight: bold;
		font-size: 13px;
	}
	.clear_price{
		color: red;
		font-size: 20px;
	}
	.submitOrder{
		background: red;
	    border-color: red;
	    border-radius: 0;
	    width: 30%;
	    font-weight: 300;
	    height: 40px;
	    font-size: 16px;
	    color: #fff;
	}
	.submitOrder:hover,.submitOrder:visited{
		background: #de0000;
		border-color: #de0000;
		color: #fff;
	}
	.dialog{
		width: 100%;
	    height: 100%;
	    position: absolute;
	    background: #000000cf;
	    top: 0;
	    left: 0;
	    z-index: 999;
	    display: none;
	}
	.logBox{
		width: 580px;
	    height: auto;
	    padding: 50px;
	    max-height: 780px;
	    background: #fff;
	    margin: auto;
	    margin-top:15%;
	    padding-bottom: 15px;
	    position: relative;
	}
	.removeIcon{
		padding: 5px;
	    position: absolute;
	    top: 10px;
	    right: 10px;
	}
	.control-label{
		padding: 0;
		font-weight: 300;
	}
	.inline{
		display: inline-block;
	}
	.glyphicon-chevron-down{
		position: absolute;
	    right: 25px;
	    top: 10px;
	}
	
	.saveBtn,.cancelBtn{
		width: 24%;
		margin: 0 20px;
	}
	.selectAddress .city-picker-span,.city-picker-dropdown{
		width: 411px !important;
		margin-left: 17px;
	}

	/*页面内容样式*/
	
  </style>
</head>
<body style="background-color: #FFFFFF;">
	<!-- 导航start -->
	<div class="topBar buyTopBar" id="help">
		<div class="container">
			<nav class="navbar navbar-default navbar-bg" role="navigation">
			  	<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand container-logo" href="#"><img src="img/logo2.png" width="70px"></a>
						<button type="button" class="navbar-toggle" data-toggle = "collapse"  data-target = "#target-menu">  
			                <span class="sr-only">切换</span>  
			                <span class="icon-bar"></span>  
			                <span class="icon-bar"></span>  
			                <span class="icon-bar"></span>  
			            </button> 
					</div>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<div id="myMenu">
					    <ul class="nav navbar-nav navbar-right">
					    	<li><a href="public/index.ejs">首页</a></li>
					    	<li><a href="#page2">产品概况</a></li>
					    	<li ><a href="#page3">产品卖点</a></li>
					    	<li><a href="buyProduction.ejs">购买产品</a></li>
					    	<li><a href="public/help.ejs">帮助</a></li>
					    	<li><a href="public/register.ejs">注册</a></li>
				    		<li><a href="public/login.ejs">登陆</a></li>
					    </ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<!-- 导航end -->

	<!-- 页面内容 -->
	<div class="container contain">
		<div class="col-sm-12">
			<p class="title"><strong>选择收获地址</strong><a href="#" class="text-right manageAdd">新增收获地址</a></p>
		</div>

		<div class="col-sm-12 addressAll">
			<div class="col-sm-3" style="display: block!important;visibility: visible!important;">	
				<div class="col-sm-3_add">
					<div class="card-body checked">
						<p class="name"><span class="name_add">广东&nbsp;深圳</span> (<span class="name_name">黄小归</span> 收)</p>
						<p class="address"><span class="address_add">南山 西丽 朗山路远征创业大厦A座802</span><span class="address_tel"> 18565805888</span></p>
						<p class="modification"><a>修改</a></p>
						<p class="defaultAdd">默认地址</p>
						<img class="img" src="img/checked.png">
					</div>
				</div>
			</div>

			<div class="col-sm-3" style="display: block!important;visibility: visible!important;">	
				<div class="col-sm-3_add">
					<div class="card-body">
						<p class="name">广东深圳 (黄小归 收)</p>
						<p class="address">南山 西丽 朗山路远征创业大厦A座802 8</p>
						<p class="modification"><a>修改</a></p>
						<!-- <p class="defaultAdd">默认地址</p> -->
						<img class="img" src="img/checked.png">
					</div>
				</div>
			</div>

			<div class="col-sm-3" style="display: block!important;visibility: visible!important;">		
				<div class="col-sm-3_add">
					<div class="card-body">
						<p class="name">广东深圳 (黄小归 收)</p>
						<p class="address">南山 西丽 朗山路远征创业大厦A座802 45343</p>
						<p class="modification"><a>修改</a></p>
						<!-- <p class="defaultAdd">默认地址</p> -->
						<img class="img" src="img/checked.png">
					</div>
				</div>
			</div>

			<div class="col-sm-3" style="display: block!important;visibility: visible!important;">
				<div class="col-sm-3_add">
					<div class="card-body">
						<p class="name">广东深圳 (黄小归 收)</p>
						<p class="address">南山 西丽 朗山路远征创业大厦A座802 65345343453</p>
						<p class="modification"><a>修改</a></p>
						<!-- <p class="defaultAdd">默认地址</p> -->
						<img class="img" src="img/checked.png">
					</div>
				</div>
			</div>

			<div class="col-sm-3 hidden">	
				<div class="col-sm-3_add">
					<div class="card-body">
						<p class="name">广东深圳 (黄小归 收)</p>
						<p class="address">南山 西丽 朗山路远征创业大厦A座802 12</p>
						<p class="modification"><a>修改</a></p>
						<!-- <p class="defaultAdd">默认地址</p> -->
						<img class="img" src="img/checked.png">
					</div>
				</div>
			</div>

			<div class="col-sm-3 hidden">	
				<div class="col-sm-3_add">
					<div class="card-body">
						<p class="name">广东深圳 (黄小归 收)</p>
						<p class="address">南山 西丽 朗山路远征创业大厦A座802 0000</p>
						<p class="modification"><a>修改</a></p>
						<!-- <p class="defaultAdd">默认地址</p> -->
						<img class="img" src="img/checked.png">
					</div>
				</div>
			</div>

			<div class="col-sm-3 hidden">	
				<div class="col-sm-3_add">
					<div class="card-body">
						<p class="name">广东深圳 (黄小归 收)</p>
						<p class="address">南山 西丽 朗山路远征创业大厦A座802 7454534</p>
						<p class="modification"><a>修改</a></p>
						<!-- <p class="defaultAdd">默认地址</p> -->
						<img class="img" src="img/checked.png">
					</div>
				</div>
			</div>

			<div class="col-sm-3 hidden">	
				<div class="col-sm-3_add">
					<div class="card-body">
						<p class="name">广东深圳 (黄小归 收)</p>
						<p class="address">南山 西丽 朗山路远征创业大厦A座802 453443434343</p>
						<p class="modification"><a>修改</a></p>
						<!-- <p class="defaultAdd">默认地址</p> -->
						<img class="img" src="img/checked.png">
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12" style="float: left;">
			<p class="show_add"><a href="#">显示全部地址</a></p>
		</div>


		<div class="col-sm-12 orderList">
			<p class="title"><strong>确定订单消息</strong></p>
			<table class="table table-condensed">
				<colgroup>
			      <col>
			      <col width="15%">
			      <col width="15%">
			      <col width="15%">
			      <col width="15%">
			    </colgroup>
			  <thead>
			    <tr>
			      <th style="text-align:left;padding-left: 20px;">产品名称</th>
			      <th>单价</th>
			      <th>数量</th>
			      <th>合计</th>
			      <th>操作</th>
			  	</tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>
			      	<div class="col-sm-3">
						<img src="img/test.jpg" alt="" width="70px">
			      	</div>
			      	<div class="col-sm-9">
			      		<p>Apple Watch Series 4 GPS + 蜂窝网络，40 毫米银色铝金属表壳搭配白色运动型表带</p>
			      		<p>颜色：金色</p>
			      	</div>
			      </td>
			      <td><p class="price">1888.00</p></td>
			      <td>
			      	<span class="glyphicon glyphicon-minus min"></span>
					<input class="enteramount" type="text" value="1"/>
					<span class="glyphicon glyphicon-plus add"></span>
			      </td>
			      <td><p class="totalPrices">1888</p></td>
			      <td><a class="del" href="jacascript::void(0)">删除</a></td>
			  	</tr>

			  	<tr>
			      <td>
			      	<div class="col-sm-3">
						<img src="img/test.jpg" alt="" width="70px">
			      	</div>
			      	<div class="col-sm-9">
			      		<p>Apple Watch Series 4 GPS + 蜂窝网络，40 毫米银色铝金属表壳搭配白色运动型表带</p>
			      		<p>颜色：金色</p>
			      	</div>
			      </td>
			      <td><p class="price">2888.00</p></td>
			      <td>
			      	<span class="glyphicon glyphicon-minus min"></span>
					<input class="enteramount" type="text" value="1"/>
					<span class="glyphicon glyphicon-plus add"></span>
			      </td>
			      <td><p class="totalPrices">2888</p></td>
			       <td><a class="del"href="jacascript::void(0)">删除</a></td>
			  	</tr>

			  	<tr>
			      <td>
			      	<div class="col-sm-3">
						<img src="img/test.jpg" alt="" width="70px">
			      	</div>
			      	<div class="col-sm-9">
			      		<p>Apple Watch Series 4 GPS + 蜂窝网络，40 毫米银色铝金属表壳搭配白色运动型表带</p>
			      		<p>颜色：金色</p>
			      	</div>
			      </td>
			      <td><p class="price">3888.00</p></td>
			      <td>
			      	<span class="glyphicon glyphicon-minus min"></span>
					<input class="enteramount" type="text" value="1"/>
					<span class="glyphicon glyphicon-plus add"></span>
			      </td>
			      <td><p class="totalPrices">3888</p></td>
			       <td><a class="del" href="jacascript::void(0)">删除</a></td>
			  	</tr>

			  	<tr>
			      <td>
			      	<div class="col-sm-3">
						<img src="img/test.jpg" alt="" width="70px">
			      	</div>
			      	<div class="col-sm-9">
			      		<p>Apple Watch Series 4 GPS + 蜂窝网络，40 毫米银色铝金属表壳搭配白色运动型表带</p>
			      		<p>颜色：金色</p>
			      	</div>
			      </td>
			      <td><p class="price">4888.00</p></td>
			      <td>
			      	<span class="glyphicon glyphicon-minus min"></span>
					<input class="enteramount" type="text" value="1"/>
					<span class="glyphicon glyphicon-plus add"></span>
			      </td>
			      <td><p class="totalPrices">4888</p></td>
			      <td><a class="del" href="jacascript::void(0)">删除</a></td>
			  	</tr>
			  </tbody>
			</table>

			<div class="col-sm-12" style="padding: 0;">
				<div class="col-sm-6 clearbox">
					<div class="clearing">
						<p style="font-size: 18px"><span class="title_clear">实付：</span>￥<span class="clear_price">38520.80</span></p>
						<p><span class="title_clear">寄送至：</span>广东深圳 南山 西丽 朗山路远征创业大厦A座802</p>
						<p><span class="title_clear">收货人：</span>黄小归 18565805888</p>
					</div>
					<button type="button" class="btn submitOrder">提交订单</button>
				</div>
			</div>
		</div>
	</div>
	


	<!--底部-->
	<div style="background-color: #000;margin-top: 25px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12" style="color: #FFFFFF;">
				<h4 class="row-tilte" style="text-align: left; padding-left: 113px;">联系我们</h4>
				<span style="margin-left: 115px;">Contact Us</span>
					<div class="col-sm-12">
						<div class="col-sm-6" style="text-align: left;padding-left: 80px;padding-top: 30px;">
							<p><img src="img/kefuWhite.png" style="width: 19px;">&nbsp;&nbsp;7*24小时全天候客户服务：400 - 888 - 8888</p>
							<p><img src="img/telphoneWhite.png">&nbsp;&nbsp;1-800-506-266</p>
							<p><img src="img/emailWhite.png">&nbsp;&nbsp;indexer@example.com </p>
							<p><img src="img/addressWhite.png">&nbsp;&nbsp;4501 Glenwood Drive Menomonee Falls, WI 53051 </p>
						</div>
						<div class="col-sm-6" style="padding-left: 80px">
							<img src="img/ab_gzh.png" style="padding-right: 25px;">
							<img src="img/ab_gzh.png" >	
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class="footer_help" id="company">&copy;2016 BANKLEDGER - ALL RIGHTS RESERVED 深圳银链科技有限公司 粤ICP备13028955号-1</div>	
</div>


<!-- 弹窗 -->
<div class="dialog">
	<div class="logBox">
		<span class="removeIcon glyphicon glyphicon-remove"></span>
		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label class="col-sm-2 control-label"><span style="color: red;margin-right: 3px">*</span>地址信息</label>
		    <div class="col-sm-10">
				<div class="docs-methods">
					<div id="distpicker">
						<div class="form-group">
							<div class="selectAddress" style="position: relative;">
								<input id="city-picker" class="form-control" readonly type="text" placeholder="请选择省 / 市 / 区 / 街道" data-toggle="city-picker">
							</div>
						</div>
						<!-- <div class="form-group">
							<button class="btn btn-warning" id="reset" type="button">重置</button>
							<button class="btn btn-danger" id="destroy" type="button">确定</button>
						</div> -->
					</div>
				</div>
		    </div>
		  </div>

		  <div class="form-group">
		    <label class="col-sm-2 control-label"><span style="color: red;margin-right: 3px">*</span>详细地址</label>
		    <div class="col-sm-10">
		      <textarea class="form-control chooseInput" rows="3" placeholder="请输入详细地址信息，如街道/门牌号/小区/楼栋号/单元等信息"></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">邮政编码</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" placeholder="如您不清楚邮政编号，请填写000000">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label"><span style="color: red;margin-right: 3px">*</span>收货人姓名</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control consigneeName" placeholder="长度不超过25个字符">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label"><span style="color:red;margin-right: 3px">*</span>手机号码</label>
		    <div class="col-sm-10">
		    	<select class="form-control inline" style="width:35%">
			      <option>中国大陆 +86</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
				</select>
			    <input type="text" class="form-control inline consigneeTel" placeholder="电话号码/手机号码必须填写一致" style="width:64%">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox" style="padding-top: 0;">
		        <label>
		          <input type="checkbox">设为默认收获信息
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-12" style="text-align: center">
		      <button type="submit" class="btn btn-default cancelBtn">取消</button> <button type="submit" class="btn btn-default saveBtn">保存</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
</body>
<script>
//图片验证码
var code;
function createCode() {
	var code="";
    var codeLength = 4; //验证码的长度
    var checkCode = document.getElementById("ma");
    var codeChars = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
        'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
        'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'); //所有候选组成验证码的字符，当然也可以用中文的
    for (var i = 0; i < codeLength; i++) {
        var charNum = Math.floor(Math.random() * 52);
        code += codeChars[charNum];
    }
    if (checkCode) {
        checkCode.className = "code";
        checkCode.innerHTML = code;
    }
}
createCode();


$(function() {
	/*数量/价格同步*/
	$(".table-condensed").find("tr").each(function(){
		var tdArr = $(this).children();
		var price = tdArr.eq(1).find('.price').text();
		var priceMat = Math.ceil(price);
		var priceInput = tdArr.eq(2).find(".enteramount");
		var totalPrices = tdArr.eq(3).find('.totalPrices');
		var add = tdArr.eq(2).find('.add');
		var min = tdArr.eq(2).find('.min');
		var del = tdArr.eq(4).find('.del');
		/*增加*/
		$(add).click(function (){
			priceInput.val(parseInt(priceInput.val()) + 1);
			var all = priceMat * priceInput.val();
			totalPrices.text(all);
		})
		/*减少*/
		$(min).click(function (){
			if(priceInput.val() > 0) {
				priceInput.val(parseInt(priceInput.val()) - 1)
			}
			var all = priceMat * priceInput.val();
			totalPrices.text(all);
		})
		/*删除*/
		$(del).click(function (){
			tdArr.parent().remove();
		})
	});


	/*选择地址*/
	$('.contain .col-sm-3').click(function () {
		$(this).find('.card-body').addClass('checked');
		$(this).siblings().find('.card-body').removeClass('checked');
	})

	/*显示隐藏全部地址*/
	$('.show_add a').click(function (){
		$('.addressAll .col-sm-3').toggleClass('hidden');
		$('.show_add').hide();
	})
	/*选择省市区*/
	$('.glyphicon-chevron-down').click(function (){
		$('.selectAddress').toggle();
	})
	/*管理收获地址*/
	$('.manageAdd').click(function(){
		$('.dialog').css('display','block');

		$('body').css('overflow','hidden');
	})

	$('.modification a').click(function(){
		$('.dialog').css('display','block');
		var x = $(this).parents().find('.name_add');
		var add = $(this).parents().find('.name_add').text();
		var specificName = $(this).parents().find('.name_name').html();
		var specificAdd = $(this).parents().find('.address_add').html();
		var specifictel = $(this).parents().find('.address_tel').html();
		$('.city-picker-span .placeholder').text(add);
		$('.logBox .consigneeName').val(specificName);
		$('.logBox .consigneeTel').val(specifictel);
		$('.logBox .chooseInput').text(specificAdd);
		$('body').css('overflow','hidden');
		$('.saveBtn').click(function(){
			var placeholder= $('.city-picker-span .select-item').text();
			x.text(placeholder);
			$('.dialog').css('display','none');
			$('body').css('overflow','auto');
			$('.city-picker-span').removeClass('open').removeClass('focus');
		})
	})
	
	$('.removeIcon').click(function(){
		$('.dialog').css('display','none');
		$('body').css('overflow','auto');
	})

	$('.submitOrder').on('click',function(){
	    window.location.href="payFor.ejs";
	})
});
  
</script>
</html>
