<div class="section" id="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="color: #FFFFFF;">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <h4 class="row-tilte" style="text-align: left;">联系我们</h4>
                        <span>Contact Us</span>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top: 10px">
                    <div class="col-sm-6" style="text-align: left;">
                        <p><img src="/images/img/kefuWhite.png" style="width: 19px;">7*24小时全天候客户服务：400 - 888 - 8888</p>
                        <p><img src="/images/img/telphoneWhite.png">1-800-506-266</p>
                        <p><img src="/images/img/emailWhite.png">indexer@example.com </p>
                        <p><img src="/images/img/addressWhite.png">4501 Glenwood Drive Menomonee Falls, WI 53051 </p>
                    </div>
                    <div class="col-sm-6 wechat">
                        <img src="/images/img/ab_gzh.png">
                        <img src="/images/img/ab_gzh.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="company">&copy;2016 BANKLEDGER - ALL RIGHTS RESERVED 深圳银链科技有限公司 粤ICP备13028955号-1</div>
</div>