<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>

    <script type="text/javascript" src="fullPage.js-master/js/scrolloverflow.js"></script>
    <script type="text/javascript" src="/fullPage.js-master/js/fullPage.js"></script>
    <%- include("../include/public")%>
</head>
<body>
<%- include("../include/header") %>
<!-- 页面内容 -->
<div id="fullpage">
    <!-- page1 start -->
    <div class="section section1">
        <div class="container">
            <div class="slide">
                <div class="row">
                    <div class="col-sm-4" style="padding-top: 200px">
                        <h3 class="row-tilte" style="">金融级安全加密</h3>
                        <p class="row-content">多重保护 不遗余力</p>
                    </div>
                    <div class="col-sm-8">
                        <img src="/images/img/1.png" alt="图片">
                    </div>
                </div>
            </div>
            <div class="slide">幻灯片2</div>
            <div class="slide">幻灯片3</div>
            <div class="slide">幻灯片4</div>
        </div>
    </div>
    <!-- page1 end -->

    <!-- page2 start -->
    <div class="section section2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="color: #000;text-align: center;">
                    <h4 class="row-tilte">产品服务</h4>
                    <span class="en-title">Product Service</span>
                    <p class="row-safe content_safe" style="text-align:left;display: none;">
                        安宝（SAFEGEM）是由银链科技有限公司独家出品的一站式数字资产安全管理硬件钱包。安宝（SAFEGEM）采用国密级金融安全芯片确保种子密码和私钥的安全，私钥永不触网，冷端离线构造交易和签名，热端APP联网发布交易，冷热端通过二维码扫描的方式传输数据。同时安宝（SAFEGEM）采用独特的安全蓝牙技术，冷热端一对一绑定，对其它设备隐身，从而实现冷端软件安全更新，从设计上兼顾安全与应用的扩展性。</p>
                    <p style="margin-top: 60px">
                    <div class="button">
                        <button type="button" class=" known" style="display: none;">进一步了解</button>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- page2 end -->

    <!-- page3 start -->
    <div class="section section3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="color: #000;text-align: center;">
                    <h4 class="row-tilte">五大机制保护数字资产安全</h4>
                    <span class="en-title">Five mechanisms to protect the security of digital assets</span>
                    <div class="treeBig">
                        <img src="/images/img/tree2.png" alt="" width="1100px">

                        <a href="#" class="tooltip-toggle pop icon1" data-toggle="tooltip" data-placement="top"
                           title="">
                            <img src="/images/img/icon1.png" alt="" width="46px">
                        </a>

                        <a href="#" class="tooltip-toggle pop icon2" data-toggle="tooltip" data-placement="top"
                           title="">
                            <img src="/images/img/icon2.png" alt="" width="46px">
                        </a>

                        <a href="#" class="tooltip-toggle pop icon3" data-toggle="tooltip" data-placement="bottom"
                           title="">
                            <img src="/images/img/icon3.png" alt="" width="46px">
                        </a>

                        <a href="#" class="tooltip-toggle pop icon4" data-toggle="tooltip" data-placement="bottom"
                           title="">
                            <img src="/images/img/icon4.png" alt="" width="46px">
                        </a>

                        <a href="#" class="tooltip-toggle pop icon5" data-toggle="tooltip" data-placement="bottom"
                           title="">
                            <img src="/images/img/icon5.png" alt="" width="46px">
                        </a>
                    </div>

                    <div class="treeSmall">
                        <div class="col-sm-6">
                            <div class="showCard">
                                <h4><img src="/images/img/icon1.png" alt="" width="40px" style="margin-right: 10px">金融级加密芯片
                                    确保密钥安全无忧</h4>
                                <p>
                                    安宝（SAFEGEM）硬件钱包采用冷端构造交易、联网端App广播交易的模式，私钥在产生、存储和交易过程永不触网，确保私钥“冷隔离”。安宝硬件钱包交易传输通过加密二维码方式，反拦截、防止黑客攻击，保证了冷热端隔离的安全性。</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="showCard">
                                <h4><img src="/images/img/icon1.png" alt="" width="40px" style="margin-right: 10px">金融级加密芯片
                                    确保密钥安全无忧</h4>
                                <p>
                                    安宝（SAFEGEM）硬件钱包采用冷端构造交易、联网端App广播交易的模式，私钥在产生、存储和交易过程永不触网，确保私钥“冷隔离”。安宝硬件钱包交易传输通过加密二维码方式，反拦截、防止黑客攻击，保证了冷热端隔离的安全性。</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="showCard">
                                <h4><img src="/images/img/icon1.png" alt="" width="40px" style="margin-right: 10px">金融级加密芯片
                                    确保密钥安全无忧</h4>
                                <p>
                                    安宝（SAFEGEM）硬件钱包采用冷端构造交易、联网端App广播交易的模式，私钥在产生、存储和交易过程永不触网，确保私钥“冷隔离”。安宝硬件钱包交易传输通过加密二维码方式，反拦截、防止黑客攻击，保证了冷热端隔离的安全性。</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="showCard">
                                <h4><img src="/images/img/icon1.png" alt="" width="40px" style="margin-right: 10px">金融级加密芯片
                                    确保密钥安全无忧</h4>
                                <p>
                                    安宝（SAFEGEM）硬件钱包采用冷端构造交易、联网端App广播交易的模式，私钥在产生、存储和交易过程永不触网，确保私钥“冷隔离”。安宝硬件钱包交易传输通过加密二维码方式，反拦截、防止黑客攻击，保证了冷热端隔离的安全性。</p>
                            </div>
                        </div>
                        <div class="col-sm-6" style="width:100%;margin-bottom: 20px">
                            <div class="showCard">
                                <h4><img src="/images/img/icon1.png" alt="" width="40px" style="margin-right: 10px">金融级加密芯片
                                    确保密钥安全无忧</h4>
                                <p>
                                    安宝（SAFEGEM）硬件钱包采用冷端构造交易、联网端App广播交易的模式，私钥在产生、存储和交易过程永不触网，确保私钥“冷隔离”。安宝硬件钱包交易传输通过加密二维码方式，反拦截、防止黑客攻击，保证了冷热端隔离的安全性。</p>
                            </div>
                        </div>
                    </div>

                    <div class="button">
                        <button type="button" class="btn btn-success buy">点击购买</button>
                    </div>

                </div>
            </div>
        </div>
        <div id="icon1-content" style="display: none">
            安宝（SAFEGEM）硬件钱包采用冷端构造交易、联网端App广播交易的模式，私钥在产生、存储和交易过程永不触网，确保私钥“冷隔离”。安宝硬件钱包交易传输通过加密二维码方式，反拦截、防止黑客攻击，保证了冷热端隔离的安全性。
        </div>
        <div id="icon2-content" style="display: none">
            为了适应币圈日新月异的变化节奏，安宝（SAFEGEM）独创安全升级机制，可在确保私钥绝对安全的基础上，随时更新到最新版本，让用户及时导入各种优质新币种，享受安宝（SAFEGEM）的最新研发成果及功能，一宝在手，永久使用！
        </div>
        <div id="icon3-content" style="display: none">
            安宝（SAFEGEM）硬件钱包采用金融级硬件加密芯片，加密芯片集成多种国密和商密算法，密钥和种子密码都存贮在硬件加密芯片内，而不存贮在ROM/RAM中，能防破解、防强拆读取，从物理上保证密钥和种子密码的安全。
        </div>
        <div id="icon4-content" style="display: none">安宝（SAFEGEM）硬件钱包提供了多层防护，所有密码数据都存贮在加密芯片里，不存贮在ROM/RAM中。<br/>
            第一层：指纹/手势密码管控钱包使用；<br/>
            第二层：用户密码管控交易操作；<br/>
            第三层：密钥管控交易签名；<br/>
            第四层：HD分层确定性钱包设计，确保种子密码具有恢复钱包权限；
        </div>
        <div id="icon5-content" style="display: none">
            安宝（SAFEGEM）硬件钱包已支持多币种，包括比特币、比特现金、以太坊、EOS、莱特币、以太经典、达世币、SAFE及所有以太坊ERC20-TOKEN等百余种数字资产的便捷式管理。未来还将扩展更多新币种以及安网项目合作币，支持优质新币种及时导入更新，满足基本的资产管理要求。
        </div>
    </div>
    <!-- page3 end -->

    <!-- page4 start -->
    <div class="section section4" id="nextS">>
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="color: #000;text-align: center;">
                    <h4 class="row-tilte" style="display: none;">合作支持</h4>
                    <span class="en-title">Collaboration & Support</span>
                    <div class="row image">
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                        <div class="col-sm-2"><img src="/images/img/llzx.png" alt="链链资讯"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page4 end -->
    <%- include("../include/buttom")%>
</div>

</body>
<script>
    $(function () {
        $('.btn-success').on('click', function () {
            window.location.href = "../buyProduction.ejs";
        })
    })
</script>
</html>